######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################
**/.vs/
**/bin/
**/obj/
**/Temp/
**/NuGet.exe
**/buildlogs/
**/Deployment/
**/packages
**/launchSettings.json
**/Debug/